.buildpath
.classpath
.project
.settings
.tmp
target

cache
dist

*.jar
*.toc
*.out
*.pdf
*.aux
*.log
*.bbl
*.blg
*.dsc
*.deb
*.build
*.changes
*.gz
*.substvars
*.swp

node_modules
bower_components

views.sparqlify
platform.properties
run-panlex.sh
deptree.txt


## Temporary excludes
dependency-tree.txt

release.properties
pom.xml.releaseBackup

datacat-core/bin/
datacat-webapp/bin/

