<br />
<br />
Brought to you by the <i><a href="http://aksw.org">Agile Knowledge Engineering and Semantic Web</a></i> (AKSW) Research Group.

<br />
<br />
<br />
Proudly built using the following components (excerpt):
<br />
<h5>Backend</h5>
<ul>
    <li><a href="https://github.com/AKSW/Sparqlify">Sparqlify</a> SPARQL-to-SQL rewriter, which includes <a href="https://github.com/AKSW/jena-sparql-api">jena-sparql-api</a>, which includes <a href="http://jena.apache.org/">Apache Jena</a></li>
	<li><a href="http://docs.oracle.com/javaee/7/api/javax/persistence/package-summary.html">Java Persistence API</a> backed by <a href="http://hibernate.org/">Hibernate</a></li>
</ul>

<h5>Frontend</h5>
<ul>
    <li><a href="https://github.com/GeoKnow/Jassa">JAvascript Suite for Sparql Access</a> (Jassa)</li>
    <li><a href="http://angularjs.org/">AngularJS</a> and <a href="http://jquery.com/">jQuery</a></li>
</ul>

<h5>Build Environment</h5>
<ul>
    <li><a href="http://maven.apache.org/">Apache Maven</a> with the <a href="http://jhipster.github.io/">JHipster Plugin</a> which handles <a href="http://npmjs.org/">NPM</a>, <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a></li>
    <li><a href="http://jenkins-ci.org/">Jenkins</a> continuous integration server</li>
</ul>

<h5>Project Hosting</h5>
<ul>
    <li><a href="https://github.com/AKSW/RdfDatasetCatalog">GitHub</a></li>
</ul>
