<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h3>Search</h3>

    <form role="form">

      <div class="form-group">
        <input ng-model="service.endpoint" facet-typeahead="ftac" facet-typeahead-path="'http://www.w3.org/ns/sparql-service-description#endpoint'" type="text" class="form-control" placeholder="Service">
      </div>

      <div class="form-group">
        <input ng-model="service.graphName" facet-typeahead="ftac" facet-typeahead-path="'http://www.w3.org/ns/sparql-service-description#availableGraphs http://www.w3.org/ns/sparql-service-description#namedGraph http://www.w3.org/ns/sparql-service-description#name'" type="text" class="form-control" placeholder="Graph">
      </div>

    </form>

  </div>
</div>
